extends base

block content 
    main.main
        .login-form
            p.forgetpassword__message Email with reset password instruction has been sent on your inbox. Please check your email and follow the instruction.
                