doctype html
html
    head
    title
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    body
        block content
        


        table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:black;background-color:black;width:100%;')
            tbody
                tr
                    td
                        div(style='margin:0px auto;max-width:600px;')
                            table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;')
                                tbody
                                    tr
                                        td(style='direction:ltr;font-size:0px;padding:50px;text-align:center;vertical-align:top;')
                                            //if mso | IE
                                                table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                                                    tr
                                                        td(style='vertical-align:top;width:600px;')
                                            .dys-column-per-100.outlook-group-fix(style='direction:ltr;display:inline-block;font-size:13px;text-align:left;vertical-align:top;width:100%;')
                                                table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%')
                                                    tr
                                                        td(align='left' style='font-size:0px;padding:0px;word-break:break-word;')
                                                            table(border='0' cellpadding='0' cellspacing='0' style='cellpadding:0;cellspacing:0;color:#000000;font-family:Helvetica, Arial, sans-serif;font-size:13px;line-height:22px;table-layout:auto;width:100%;' width='100%')
                                                                tr
                                                                    td(align='left')
                                                                        div(style='color:#666666;font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:28px;text-align:left;')
                                                                            p
                                                                                | &copy; Copyright 2021 Holidays
                                                                                br
                                                                                
                                                                    td(align='right' style='vertical-align:top; opacity: 0.35;' width='34px')
                                                                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:collapse;border-spacing:0px;')
                                                                            tbody
                                                                                tr
                                                                                    td(style='width:30px;')
                                                                                        img(alt='Facebook' height='auto' src='https://assets.opensourceemails.com/imgs/lifestyle/Fct0c2xMRUKPHBdMCcnf_icon-facebook.png' style='border:none;display:block;font-size:13px;height:auto;outline:none;text-decoration:none;width:100%;' width='30')
                                                                    td(align='right' style='vertical-align:top; opacity: 0.35;' width='34px')
                                                                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:collapse;border-spacing:0px;')
                                                                            tbody
                                                                                tr
                                                                                    td(style='width:30px;')
                                                                                        img(alt='Linked In' height='auto' src='https://assets.opensourceemails.com/imgs/lifestyle/BHraIlyShi7koHdeMEbD_icon-linkedin.png' style='border:none;display:block;font-size:13px;height:auto;outline:none;text-decoration:none;width:100%;' width='30')
                                                                    td(align='right' style='vertical-align:top; opacity: 0.35;' width='34px')
                                                                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:collapse;border-spacing:0px;')
                                                                            tbody
                                                                                tr
                                                                                    td(style='width:30px;')
                                                                                        img(alt='Twitter' height='auto' src='https://assets.opensourceemails.com/imgs/lifestyle/Rc7jq7J2ToyH0IGSptTY_icon-twitter.png' style='border:none;display:block;font-size:13px;height:auto;outline:none;text-decoration:none;width:100%;' width='30')
                                            
